.cardImage{
    height: 8em;
    width: 6em;
}

.slick-prev:before , .slick-next:before {
    color: black; 
}

.crownSVG{
    /* font-size: 3rem; */
    background-color: red;
    border-radius: 50%;
    background-color: #FFD700;
    color: #fff;
}