* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    /* overflow: hidden; */
}

a {
	text-decoration: none;
}

.landingImage {
	width: 20em;
	height: 20em;
}

.hideScrollbar {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.hideScrollbar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}



/* important for overridding MUI styles */
.removePadding{
    padding: 0 !important;
}


.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 4px;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}


.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 4px;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

@media (max-width: 900px) {
	.landingImage {
		width: 15em;
		height: 15em;
	}
}
